.places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 0px;
    padding-top: 20px;
    flex: 0 1 100%;
}

.places > article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    justify-content: flex-start;
    position: relative;
    z-index: -1;
}

.places > article h2 {
    font-size: 30px;
/*    margin: 0 0 0 0;*/
    text-align: center;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    top: 10px;
    right: 20px;
    position: absolute;
}

.price_by_night > p {
    margin: 0 0 0 0;
}

.information {
    align-self: center;
    height: 80px;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    text-align: center;
}

.max_guest > p, .number_rooms > p, .number_bathrooms > p {
    margin-top: auto;
    margin-bottom: auto;
}

.guest_image {
    background: url("../images/guest_image.png") no-repeat center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}

.bedroom_image {
    background: url("../images/bedroom_image.png") no-repeat center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}

.bathroom_image {
    background: url("../images/bathroom_image.png") no-repeat center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}

.user > p {
    margin-top: 20px;
    margin-bottom: 0px;
}

.description > p {
    margin-top: 7px;
    margin-bottom: 0px;
}

ul {
    list-style-type: none;
}

.places > article > .amenities h2 {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
    min-height: 0px;
    font-size: 16px;
    width: 100%;
    text-align: left;
}

.places > article > .reviews h2 {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
    min-height: 0px;
    font-size: 16px;
    width: 100%;
    text-align: left;
}


.icon_tv {
    background: url("../images/icon_tv.png") no-repeat center;
    background-origin: content-box;
    background-size: contain;
    background-position: left;
}

.icon_pets {
    background: url("../images/icon_pets.png") no-repeat center;
    background-origin: content-box;
    background-size: contain;
    background-position: left;
}

.icon_wifi {
    background: url("../images/icon_wifi.png") no-repeat center;
    background-origin: content-box;
    background-size: contain;
    background-position: left;
}

.places > article > .reviews ul, .places > article > .amenities ul {
    padding-left: 0;
}

.places > article > .amenities li {
    text-indent: 30px;
    margin-top: 10px;
}

.reviews {
    margin-top: 40px;
    width: 100%;
    flex: 1;
}

.places > article > .amenities {
    margin-top: 40px;
    width: 100%;
    flex: 1;
}

.reviews h3 {
    font-size: 14px;
    text-align: left;
    padding-left: 0px;
}

.reviews p {
    font-size: 12px;
    margin-top: -10px;
}
