footer {
    background-color:#00FF00;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
