.container .filters {
    background-color: white;
    position: relative;
    height: 70px;
    width: 100%; /* "100% of the container */
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%; /* 20% of the section filters */
    border-style: none;
    border-radius: 4px;
    position: absolute;
    top: 15%;
    right: 30px;
}

button:hover {
    opacity: 0.9;
}

.filters div {
    display: inline-block; /*allows you to set width and height on element*/
    height: 100%; /* how much space (height) is taken of the container, per div */
    width: 25%; /* how much space (width) is taken of the container, per div */
    position: relative;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    margin-left: 15%;
    font-weight: 600;
    margin-bottom: 0;
}

.filters h4 {
    margin-left: 15%;
    font-weight: 400;
    font-size: 14px;
    margin-top: 1%;
}

.popover {
    display: none;
    position: absolute;
    top: 80%;
    left: -1px;
 /*   left: -45px; */
    width: 84%;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
/*    z-index: 1; */
    padding-bottom: 25px;
}

.popover, .popover ul {
    list-style-type: none;
}

.locations:hover > .popover {
    display: block;
}

.amenities:hover > .popover {  
    display: block;
    left: -5px;
    padding-top: 20px;
}

.popover h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}


.locations > .popover > li {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -20px;
}

.locations > .popover > li > ul {
    padding-left: 20px;
}

.locations > .popover > li > ul > li {
    margin-bottom: 10px;
}

.amenities > .popover > li {
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
}
